<div class="input-group mb-3 w-25 float-right">
  <input type="text" placeholder="find" #finds (keyup)="find(finds.value)" class="form-control" aria-label="Text input with segmented dropdown button">
  
</div>
<h4> ToDos List</h4>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let todo of messageService.filtr; let j = index ">
      <tr>

        <td>{{(j+1)}}</td>
        <td>
          <a class="breadcrumb-item active" (click)="active(todo.id)" routerLink="/todolist/{{todo.id}}">
            <div [class.hidden]="todo.isEdit"> {{todo.name}} </div>
          </a>


            <div class="input-group mb-3" [class.hidden]="!todo.isEdit">
              <input type="text" [class.is-invalid]="!todo.valid" class="form-control"  value="{{todo.name}}" #toDoName placeholder="ToDo name" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button (click)="updateName(toDoName.value, todo.id)" class="btn btn-outline-secondary" type="button">
                  <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/pencil.svg">
                </button>
                <button (click)="edit(todo.id)" class="btn btn-outline-secondary" type="button">
                  <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/x.svg">
                </button>
              </div>
            </div>
          
        </td>
        <td>
          {{todo.todos_count}}
        </td>
        <td>

          <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/pencil.svg">
        </td>
        <td>
          <img (click)="del(todo.id)" class="baby" width="12" height="12" src="assets/svg/trash.svg">

        </td>
      </tr>

    </tbody>
  </table>
</div>
