


<h2 class="pointer" [class.hidden]="isEditName" (click)="editName()">{{messageService.nameList}}</h2>
<div  [class.hidden]="!isEditName" class="input-group mb-3 w-25 float-left">
  <input [class.is-invalid]="!validName" value="{{messageService.nameList}}" type="text" #listName class="form-control" >
  <div class="input-group-prepend">

  </div>
  <button type="button" class="btn btn-outline-primary" (click)="rename(listName)">Rename</button>
  <button type="button" (click)="editName()" class="btn btn-outline-danger">Cancel</button>
</div>
<div class="input-group mb-3">
  <input type="text" [class.is-invalid]="!validAdd" #name class="form-control" aria-label="Text input with checkbox">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" #completed aria-label="Checkbox for following text input">
    </div>
  </div>
  <button type="button" class="btn btn-outline-success" (click)="add(name, completed)">Add</button>
  </div>
<div class="input-group mb-3 w-25 float-right">
  <input type="text" #finds (keyup)="find(finds.value)" class="form-control" aria-label="Text input with segmented dropdown button">
  
</div>
<h4>Incomplete</h4>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Completed/
          <br>Incomplete</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody *ngFor="let todo of filtr; let i = index ">
      <tr *ngIf="!todo.is_complete">
        <td>{{(i+1)}}</td>
        <td>
          <div (click)="edit(todo.id)" [class.hidden]="todo.isEdit"> {{todo.name}} </div>
          <div class="input-group mb-3 w-75 float-left" [class.hidden]="!todo.isEdit">
            <input type="text" [class.is-invalid]="!todo.valid" class="form-control" value="{{todo.name}}" #toDoName  placeholder="ToDo name" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button (click)="updateName(toDoName.value, todo.id)" class="btn btn-outline-secondary" type="button">
                <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/pencil.svg">
              </button>
              <button (click)="edit(todo.id)" class="btn btn-outline-secondary" type="button">
                <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/x.svg">
              </button>
            </div>
          </div>

        </td>
        <td>
          <input class="form-check-input" type="checkbox" [checked]="todo.is_complete" (change)="change($event, todo.id)" id="defaultCheck1">
        </td>
        <td>

          <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/pencil.svg">
        </td>
        <td>
          <img (click)="del(todo.id)" class="baby" width="12" height="12" src="assets/svg/trash.svg">

        </td>
      </tr>

    </tbody>
  </table>
</div>
<h4> Completed</h4>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Completed/
          <br>Incomplete</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let todo of filtr; let j = index ">
      <tr *ngIf="todo.is_complete">

        <td>{{(j+1)}}</td>
        <td>
          <div (click)="edit(todo.id)" [class.hidden]="todo.isEdit"> {{todo.name}} </div>
          <div class="input-group mb-3 w-75 float-left" [class.hidden]="!todo.isEdit">
            <input type="text" [class.is-invalid]="!todo.valid" class="form-control" value="{{todo.name}}" #toDoName placeholder="ToDo name" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button (click)="updateName(toDoName.value, todo.id)" class="btn btn-outline-secondary" type="button">
                <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/pencil.svg">
              </button>
              <button (click)="edit(todo.id)" class="btn btn-outline-secondary" type="button">
                <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/x.svg">
              </button>
            </div>
          </div>

        </td>
        <td>
          <input class="form-check-input" type="checkbox" [checked]="todo.is_complete" (change)="change($event, todo.id)" id="defaultCheck1">
        </td>
        <td>

          <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/pencil.svg">
        </td>
        <td>
          <img (click)="del(todo.id)" class="baby" width="12" height="12" src="assets/svg/trash.svg">

        </td>
      </tr>

    </tbody>
  </table>
</div>
