<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <!-- <link href="dashboard.css" rel="stylesheet"> -->
  <style></style>
  <style type="text/css">
    /* Chart.js */

    @-webkit-keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }
      to {
        opacity: 1
      }
    }

    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }
      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      -webkit-animation: chartjs-render-animation 0.001s;
      animation: chartjs-render-animation 0.001s;
    }

  </style>

</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="">ToDo List</a>

  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-2  d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">

            <span [class.hidden]="isEdit">List</span>
            <a [class.hidden]="isEdit" class="d-flex align-items-center text-muted pointer" (click)="edit()">
              <svg [class.hidden]="isEdit" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="16"></line>
                <line x1="8" y1="12" x2="16" y2="12"></line>
              </svg>
            </a>

            <div class="input-group mb-3" [class.hidden]="!isEdit">
              <input type="text" [class.is-invalid]="!validAdd" class="form-control" (keyup.enter)="add(toDoListName.value)" toDoListName.value=""
                #toDoListName placeholder="ToDo list name" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button (click)="add(toDoListName.value)" class="btn btn-outline-secondary" type="button">
                  <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/pencil.svg">
                </button>
                <button (click)="cancel()" class="btn btn-outline-secondary" type="button">
                  <img (click)="edit(todo.id)" class="baby" width="12" height="12" src="assets/svg/x.svg">
                </button>
              </div>
            </div>
          </h6>
          <div class="input-group mb-3 w-75 find">
            <input type="text" class="form-control" (keyup)="find(finds.value)" finds.value="" #finds placeholder="find" aria-label="Recipient's username"
              aria-describedby="basic-addon2">

          </div>
          <ul class="nav flex-column" *ngFor="let todo of messageService.filtr">
            <li class="nav-item ">
              <a [class.active]="todo.isActive" class="nav-link w-75 d-inline-block " (click)="active(todo.id)" routerLink="/todolist/{{todo.id}}">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                  <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                  <polyline points="14 2 14 8 20 8"></polyline>
                  <line x1="16" y1="13" x2="8" y2="13"></line>
                  <line x1="16" y1="17" x2="8" y2="17"></line>
                  <polyline points="10 9 9 9 8 9"></polyline>
                </svg>

                {{todo.name}} {{todo.todos_count}}

                <!-- <span class="sr-only">(current)</span> -->
              </a>

              <img (click)="del(todo.id)" class="baby d-inline-block" width="12" height="12" src="assets/svg/trash.svg">
            </li>

          </ul>


        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>

        <router-outlet></router-outlet>
      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')

  </script>
  <script src="../../../../assets/js/vendor/popper.min.js"></script>
  <script src="../../../../dist/js/bootstrap.min.js"></script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>




</body>

</html>
